body {background-color: #999999 ; font-family :  "Courier New" ; font-size: 1.2em}
nav { color : ivory; width 18%; float: left }
section { width: 78%; float: right}
a { color : white; font-family: "Arial-black"; font-size: 1.4em}
h1 {}